@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:500,700&display=swap');

a {
    text-decoration: none;
    transition: all 0.4s ease;
}

.formHead {
    background: #fff;
    position: relative;
}

.formHeadTitle {
    padding: 35px 0;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
    /*position: absolute;*/
    /*left: 50%;*/
}

.formHeadTitle a {
    font-weight: 500;
    font-size: 23px;
    font-family: "M PLUS Rounded 1c";
    color: #000;
}

.formHeadTitle span {
    font-weight: 700;
    font-size: 19px;
    font-family: "M PLUS Rounded 1c";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #ffffff;
    padding-left: 12px;
}

.deHazeMenu,
.formLink {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.formLink a {
    width: 231px;
    border: 1px #E0E0E0 solid;
    line-height: 49px;
    font-size: 14px;
}

.formLink a:after {
    width: 6px;
    height: 11px;
    top: calc(50% - 6px);
    right: 24px;
}

.link {
    background: #fff;
    width: 254px;
    position: relative;
    display: block;
    border: 2px #000 solid;
    border-radius: 30px;
    text-align: center;
    line-height: 51px;
    font-weight: 600;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
}

.link:after {
    content: "";
    /* background: url(../../asset/all_bg_link_arrow.png) no-repeat center right / 100% 100%; */
    width: 8px;
    height: 15px;
    position: absolute;
    right: 18px;
    top: calc(50% - 8px);
    display: block;
    transition: all 0.4s ease;
}

.formLinkHover {
    transform: translateY(-5px);
    opacity: 1;
}

.formLinkHover:after {
    transform: translateX(3px);
}

@media (max-width: 960px) {
    .formHeadLink {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .headerContainer {
        background: #EFEDE9;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        position: absolute;
        bottom:0;
    }

    .deHazeMenu {
        position: relative;
        right: unset;
        top: unset;
        transform: unset;
    }
}

@media screen and (max-width: 320px) {
    .formHeadTitle a {
        font-weight: 500;
        font-size: 20px;
        font-family: "M PLUS Rounded 1c";
        color: #000;
    }

    .formHeadTitle span {
        font-weight: 700;
        font-size: 16px;
        font-family: "M PLUS Rounded 1c";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
